.faja {
  padding-top: 30px;
  padding-bottom: 30px;
  background: var(--secondary-color);
  color: white;
  margin-bottom: 30px;
}

/* MEDIA QUERIES */
@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  .faja {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 60px;
  }
}

@media (min-width: 1400px) {
}

@media (min-width: 1600px) {
  .faja {
    margin-bottom: 100px;
  }
}
