.showroom {
  margin-bottom: 80px;
  margin-top: -6px;
}

.showroom .img_showroom {
  display: none;
}

.showroom .content_showroom {
  background: var(--primary-color);
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.showroom .data_showroom {
  text-align: center;
}

.showroom .data_showroom p {
  color: white;
  font-size: 1.35rem;
}

.showroom .data_showroom button {
  color: white;
  font-size: 1rem;
  background: var(--secondary-color);
  font-weight: 300;
}

.showroom .data_showroom button:hover {
  color: var(--secondary-color) !important;
  background: white !important;
}

/* MEDIA QUERIES */
@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .showroom {
    margin-bottom: 120px;
  }

  .showroom .img_showroom {
    display: flex;
    max-width: 350px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

  .showroom .content_showroom {
    height: 250px;
    margin-top: 100px;
    margin-bottom: 35px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .showroom .content_showroom .grouped {
    display: flex;
    align-items: center;
    margin-top: -80px;
  }

  .showroom .content_showroom .data_showroom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
  .showroom .data_showroom p {
    font-size: 2rem;
  }

  .showroom .data_showroom button {
    font-size: 1.25rem;
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (min-width: 1600px) {
}
